fluxos/A1-4-resumo-diario.json
{
  "name": "A1.4 — Resumo diário (secretária)",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Depois de importar\n1. Nó Google Sheets: credencial + documento + aba **Agenda**.\n2. No nó **Montar resumo**: troque `NUMERO_DA_SECRETARIA` pelo número real quando existir.\n3. O 📤 é placeholder — vira HTTP Request da Evolution quando o número voltar.\n4. Observação: se não houver NENHUMA consulta hoje na planilha, o fluxo para no filtro (comportamento normal do n8n).",
        "height": 280,
        "width": 380,
        "color": 4
      },
      "id": "sticky-a14-1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-60, -320]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "a14-trigger",
      "name": "Todo dia às 7h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "id": "a14-read",
      "name": "Ler aba Agenda",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "h1",
              "leftValue": "={{ $json.data }}",
              "rightValue": "={{ $now.setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy') }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a14-filter",
      "name": "Consultas de hoje",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "const itens = $input.all().map(i => i.json);\nconst total = itens.length;\nconst confirmadas = itens.filter(i => i.status === 'confirmada');\nconst aguardando = itens.filter(i => i.status === 'aguardando resposta');\nconst mudancas = itens.filter(i => i.status === 'cancelada' || i.status === 'remarcada');\n\nlet msg = `☀️ Bom dia! Resumo da Clínica Sorriso para hoje:\\n\\n`;\nmsg += `📅 Consultas no dia: ${total}\\n`;\nmsg += `✅ Confirmadas: ${confirmadas.length}\\n`;\nmsg += `⏳ Sem resposta: ${aguardando.length}\\n`;\nmsg += `🔁 Canceladas/remarcadas: ${mudancas.length}\\n`;\n\nif (aguardando.length > 0) {\n  msg += `\\n📞 Ligar para confirmar:\\n`;\n  msg += aguardando.map(i => `• ${i.paciente} — ${i.hora} — ${i.telefone}`).join('\\n');\n}\n\nif (mudancas.length > 0) {\n  msg += `\\n\\n🔁 Horários liberados/alterados:\\n`;\n  msg += mudancas.map(i => `• ${i.paciente} — ${i.hora} (${i.status})`).join('\\n');\n}\n\nreturn [{ json: { para: 'NUMERO_DA_SECRETARIA', mensagem: msg } }];"
      },
      "id": "a14-code",
      "name": "Montar resumo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "para",
              "value": "={{ $json.para }}",
              "type": "string"
            },
            {
              "id": "r2",
              "name": "mensagem",
              "value": "={{ $json.mensagem }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a14-placeholder",
      "name": "📤 EVOLUTION (pendente) — resumo p/ secretária",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [880, 0]
    }
  ],
  "connections": {
    "Todo dia às 7h": {
      "main": [
        [
          {
            "node": "Ler aba Agenda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler aba Agenda": {
      "main": [
        [
          {
            "node": "Consultas de hoje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultas de hoje": {
      "main": [
        [
          {
            "node": "Montar resumo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar resumo": {
      "main": [
        [
          {
            "node": "📤 EVOLUTION (pendente) — resumo p/ secretária",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
