fluxos/A1-5-healthcheck.json
{
  "name": "A1.5 — Healthcheck (alerta por e-mail)",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Depois de importar\n1. No nó HTTP: troque `SUA_EVOLUTION_API_KEY_AQUI` pela chave do Bitwarden.\n2. No nó Gmail: crie a credencial **Gmail OAuth2** (pode usar o MESMO Client ID/Secret do projeto Google já criado — antes, ative a **Gmail API** no console do Google Cloud).\n3. **ATIVE este workflow** (botão Active) — ele vigia a Evolution a cada 30 min e avisa por e-mail se a instância `demo` não estiver conectada.\n4. Bônus: ele vai avisar (parando de alertar) quando o WhatsApp finalmente conectar.\n5. Quando o número voltar, adicionamos o alerta por WhatsApp além do e-mail.",
        "height": 340,
        "width": 400,
        "color": 4
      },
      "id": "sticky-a15-1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-60, -380]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "a15-trigger",
      "name": "A cada 30 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://moderneasyevo.duckdns.org/instance/connectionState/demo",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUA_EVOLUTION_API_KEY_AQUI"
            }
          ]
        },
        "options": {}
      },
      "id": "a15-http",
      "name": "Estado da instância demo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "hc1",
              "leftValue": "={{ $json.instance?.state || 'sem-resposta' }}",
              "rightValue": "open",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a15-if",
      "name": "Desconectada?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "sendTo": "moderneasyautomation@gmail.com",
        "subject": "⚠️ ModernEasy: WhatsApp (instância demo) não está conectado",
        "message": "=Healthcheck das {{ $now.setZone('America/Sao_Paulo').toFormat('dd/MM HH:mm') }}:\n\nEstado da instância demo: {{ $('Estado da instância demo').first().json.instance?.state || 'Evolution API sem resposta' }}\n\nAções: verificar https://moderneasyevo.duckdns.org/manager e, se preciso, docker compose ps no servidor.",
        "options": {}
      },
      "id": "a15-gmail",
      "name": "Alerta por e-mail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [680, -80]
    }
  ],
  "connections": {
    "A cada 30 minutos": {
      "main": [
        [
          {
            "node": "Estado da instância demo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estado da instância demo": {
      "main": [
        [
          {
            "node": "Desconectada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desconectada?": {
      "main": [
        [
          {
            "node": "Alerta por e-mail",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
